<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script> 
	
</head>
<body>
		<p class="p-1">Chat App</p>
	<main id="app">		
		
		<section class="form-container">
			<label for="nickname">Your Nickname (optional):</label>
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
			<span >{{connections}} People Online</span>
		</section>
		
		<div class="chat-area">
		<section class="messages">
			

			<ul id="messages" v-for="message in messages">
					<component :is="message.type" :msg="message"></component>
	
			</ul>
		</section>		
		<section class="submit">
				<form>
					<label for="message">Something to say?</label>
					<small v-if="typing">User is typing</small>
					<textarea placeholder="Enter your message" v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
					<input type="submit" @click.prevent="dispatchMessage">
				</form>
				</section>
			</div>
	</main>
	<script src="/socket.io/socket.io.js"></script>

	<script type="module" src="js/main_vm.js"></script>
</body>
</html>